header {
  height: 68px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  color: #FFFFFF !important;
  text-decoration-line: none;

  div.background-header {
    background: #000;
  }

  div.logo {
    width: 326px;
    height: 132px;

    background: #99823D;

  }

  div.text {
    padding-top: 17px;

    a.text-1 {
      font-weight: 400;
      font-size: 9px;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.75);
      padding-right: 3px;

    }

    a.text-2 {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      padding-right: 6px;

    }

    img.heart-icon {
      width: 13px;
      height: 14px;
    }
  }

  div.menu {
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
    padding-top: 17px;

    a.menu-1 {
      padding-right: 37px;
    }


  }
}
