<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.typekit.net/coh7hru.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/scss/bootstrap.scss">
    <link rel="stylesheet" href="../scss/main.scss">
</head>
