<header>
    <div class="background-header">
        <div class="container d-flex flex-row justify-content-between">
            <div class="d-flex flex-row ">
                <div class="logo d-flex justify-content-center align-items-center"><img class="logo-img"
                                                                                        src="img/header/logo.png"></div>
                <div class="text">
                    <a class="text-1" href="">Architecture</a>
                    <a class="text-2" href="">Made With </a> <img alt="love" class="heart-icon"
                                                                  src="img/header/icon-heart.svg">
                </div>
            </div>
            <div class="menu d-flex ">
                <a class="menu-1" href="">home</a>
                <a class="menu-1" href="">about</a>
                <a class="menu-1" href="">services</a>
                <a class="menu-1" href="">projects</a>
                <a class="menu-1" href="">news</a>
                <a class="menu-1" href="">Contact</a>
            </div>
        </div>
    </div>
</header>